/* CARACTERISTICAS GENERICAS */
.border {
  border: 1px solid red;
}
.title {
  font-family: var(--font-principal);
  font-size: var(--titulo-dos);
  font-weight: 700;
  color: var(--background-uno);
}
.subTitle {
  font-size: var(--subTitulo-uno);
  font-family: var(--font-principal);
  font-weight: 700;
}
.contexto {
  font-size: var(--contexto);
  font-weight: 700;
  font-family: var(--font-principal);
  color: var(--negro-uno);
}
.padding {
  padding: 0 0.9375rem;
}
.flexCollum {
  display: flex;
  flex-direction: column;
}
.flexRow {
  display: flex;
  flex-direction: row;
}
.cards {
  padding: 0 1.5rem;
  gap: 20px;
}
.card {
  height: var(--medida-card-gen);
  justify-content: center;
  box-sizing: border-box;
  box-shadow: var(--shadow-tres);

  border-radius: 25px;
}
.btn {
  width: 82%;
  padding: 13px;
  text-align: center;
  justify-content: center;
  font-family: var(--font-principal);
  color: var(--background-uno);
  font-size: 1.2rem;
  font-weight: 500;
  border-radius: 15px;
  background-color: var(--background-btn);
  transition: all 0.2s cubic-bezier(0.4, 0, 1, 1);
}
.btn i {
  margin-left: 10px;
}
