@import url(header.css);
@import url(genericos.css);
@import url(body.css);
@import url(footer.css);
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&display=swap");

:root {
  /* BACKGROUNDS */
  --background-uno: #fafafa;
  --background-nav-uno: #052b68;
  --background-nav-dos: #052b68b6;
  --background-nav-tres: #ff7700;
  --background-btn: rgb(162 193 251);

  /* COLORES */
  --blanco-basico: #fff;
  --blanco-uno: #f5f5f5;
  --negro-uno: #333333;
  --negro-dos: #171717;

  /* DEGRADES */
  --degrade-uno: linear-gradient(
    180deg,
    #052b68 0%,
    rgb(21, 102, 253) 35%,
    var(--background-uno) 100%
  );
  --degrade-dos: linear-gradient(
    192deg,
    #fafafa 25%,
    rgba(42, 166, 241, 1) 50%,
    rgba(8, 46, 228, 1) 100%
  );

  /* SOMBRAS */
  --shadow-uno: 0px 1px 10px #032d6d;
  --shadow-dos: -1px -1px 5px #a2c1fb, 1px -1px 3px #a2c1fb,
    -1px 1px 4px #052b68, 1px 1px 8px #052b68;
  --shadow-tres: 0px 4px 20px 4px rgba(51, 51, 51, 0.06);

  /* IMAGES */
  --logo: url(../images/IDC.png) no-repeat center / cover;

  /* FONTS */
  --font-principal: "Poppins", sans-serif;

  /* MEDIDAS */
  --titulo-uno: 2.5rem;
  --titulo-dos: 3.5rem;
  --subTitulo-uno: 2.2rem;
  --contexto: 1.25rem;
  --medida-card-gen: 17.5rem;
  --medida-card-uno: 18rem;
  --medida-card-dos: 15rem;
  --medida-card-tres: 3.5rem;
}

body {
  background-color: var(--background-uno);
}

/* CONTAINER */
.container {
  margin-top: 4.875rem;
  /* gap: 5px; */
}
.contarinerCards {
  gap: 15px;
}
